.container-sm.mt-5.mb-5 .nav .nav-item .nav-link {
    color: black;
}

.container-sm.mt-5.mb-5 .nav .nav-item .nav-link.active {
    background-color: #B6FC9D;
    color: black;
}

.container-sm.mt-5.mb-5 .card.mb-5.mt-5 {
    width: 50%;
}

table {
    width: 400px;
}

td, th {
    padding: 10px;
}

.navbar {
    background-color: #343a40;
}

.navbar .navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    color: #B6FC9D;
}

.navbar .navbar-brand:hover {
    color: #B6FC9D;
}

.input-fields-group {
    margin-bottom: 1em;
}

.input-fields-group img {
    margin-top: 1em;
}

.index-background {
    background-image: url(https://images-ext-2.discordapp.net/external/UWRt0WHHZy54pEdlIqTygMTM65xW8SmqjeHoKumSW3M/https/i.pinimg.com/originals/5c/33/76/5c337658742096493147ed99544534e4.jpg?width=1498&height=936);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cover-image {
    width: 500px;
}

.fa.fa-circle-o {
    color: lightgrey;
}

.tab-pane.fade .row.justify-content-start .col .card {
    width: 38rem;
}

.container.py-3 .col .card-image-top {
    height: 150px;
}

.less-width{
    width: 45%;
    margin-bottom: 1em;
    gap: 20px
}

.custom-range {
    width: 95%;
}

.search-results-background {
    background-color: #F8F7EF;
}

.form-label {
    font-size: 1.3em;
}
.paragraph-container {
    display: flex;
    justify-content: space-between;
}

.cover-image {
    width: 50%;
}

.pointer {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
}

#previewCoverImage {
    display: none;
}

