.container-sm.hike-detail.mt-5 .nav .nav-item .nav-link {
    color: black;
}

.container-sm.hike-detail.mt-5 .nav .nav-item .nav-link.active {
    background-color: #B6FC9D;
    color: black;
}


.container-sm.hike-detail.mt-5 .card.mb-5.mt-5 {
    width: 50%;
}

table {
    width: 400px;
}

td, th {
    padding: 10px;
    background-color:#B6FC9D;
}


.navbar {
    background-color: #343a40;
}


.navbar .navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link:hover {
    color: #B6FC9D;
}

.form-group {
    margin-bottom: 1em;
}

.form-group img {
    margin-top: 1em;
}

.input-fields-group {
    margin-bottom: 1em;
}

.input-fields-group img {
    margin-top: 1em;
}